body {
    background-color: black;
    color: white;
}

.card {
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: 15px;

    /* border: solid rgb(13, 110, 253); */

    /* 13, 110, 253 */
}

.navbar {
    background-color: black;
}

.negro {
    background-color: black;
    color: wh;

}

.nav-item {
    text-align: center;
    margin: 5px;
}

.fixed-top-container {
    position: fixed;
    background-color: #000000;

}

.content {
    margin-top: 100px;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.navbar-item {
    vertical-align: middle;
}

.projectsCard {
    padding: 5px;
}

.btn-outline-primary1 {
    color: aquamarine;
}

.btn {
    margin: 3px;
}